@font-face {
  font-family: "HelveticaNowText";
  src: url("../fonts/HelveticaNowText-Regular.ttf");
}
@font-face {
  font-family: "HelveticaNowMed";
  src: url("../fonts/HelveticaNowText-Medium.ttf");
}
@font-face {
  font-family: "HelveticaNowBold";
  src: url("../fonts/HelveticaNowText-Bold.ttf");
}
.rs-spacing, .footer-links__ul, .tag-items__ul, .hero-item__title, .page-utility__ul, .page-header-navigation__ul {
  margin: 0;
  padding: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.dark-bg::after {
  content: "";
  height: 375px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0, 0, 0);
  opacity: 0.2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.pos-a {
  position: absolute;
}
.pos-a.h-center {
  left: 50%;
  transform: translateX(-50%);
}

.clearfix::after, .row::after, .page-header-navigation__ul::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box !important;
}

body {
  font-family: "HelveticaNowMed", sans-serif;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .hidden-tabl {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .hidden-desktop {
    display: none !important;
  }
}
.hidden-all {
  display: none;
}

section[class*=page-] {
  border-bottom: 1px solid rgba(35, 34, 34, 0.2);
}

section.footer-copyright {
  /*   border-top: 1px solid rgba(35,34,34,0.2); */
}

.section-title {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "HelveticaNowBold", sans-serif;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #232222;
}
@media (min-width: 992px) {
  .section-title {
    font-size: 16px;
  }
}

.page-header-navigation {
  display: inline-block;
}
@media (min-width: 992px) {
  .page-header-navigation {
    margin-left: 50px;
  }
}
.page-header-navigation__li {
  float: left;
  list-style: none;
  text-transform: uppercase;
}
.page-header-navigation__link {
  text-decoration: none;
  font-family: "HelveticaNowMed";
  font-size: 12px;
  color: #1F1E1D;
}
@media (min-width: 992px) {
  .page-header-navigation__link {
    margin-right: 19px;
    letter-spacing: 0.5px;
  }
}

.page-discover {
  padding: 22px 18px 20px 18px;
  margin: 0 auto;
}
@media (min-width: 767px) {
  .page-discover {
    padding-top: 43px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .page-discover {
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 27px;
  }
}

.page-discover .section-title {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .page-discover .section-title {
    margin-top: 10px;
    margin-bottom: 25px;
  }
}
.page-discover .card {
  margin-bottom: 10px;
}
@media (min-width: 767px) {
  .page-discover .card {
    margin-bottom: 17px;
  }
}

.page-tags {
  padding: 35px 18px 30px 18px;
}
.page-tags .section-title {
  font-family: "HelveticaNowMed", sans-serif;
  font-size: 13px;
}
@media (min-width: 767px) {
  .page-tags .section-title {
    letter-spacing: 0.5px;
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .page-tags .section-title {
    margin-bottom: 10px;
  }
}
@media (min-width: 767px) {
  .page-tags {
    padding: 32px 22px 28px 22px;
  }
}
@media (min-width: 992px) {
  .page-tags {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
  }
}

.page-footer {
  padding: 28px 0 25px;
}
@media (min-width: 767px) {
  .page-footer {
    padding: 19px 0 17px;
  }
}
@media (min-width: 992px) {
  .page-footer {
    padding-bottom: 20px;
  }
}

.page-header {
  padding: 20px 23px;
  height: 80px;
  line-height: 40px;
  box-sizing: inherit;
}
.page-header .page-logo {
  float: left;
}
.page-header .page-utility {
  float: right;
}
@media (min-width: 992px) {
  .page-header {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 30px;
    pading-right: 30px;
    height: 110px;
  }
}

.page-utility__link {
  text-decoration: none;
  display: inline-block;
}
.page-utility__li {
  list-style: none;
  text-align: right;
  display: inline-block;
  max-height: 21px;
  margin-left: 10px;
  /*     float: left; */
}
.page-utility__image {
  height: 21px;
}
.page-logo {
  max-width: 110px;
}
.page-logo__img {
  max-width: inherit;
}

.mobile-toggle__image {
  height: 12px;
}

.page-hero .hero-item {
  height: 667px;
  position: relative;
}
@media (min-width: 767px) {
  .page-hero .hero-item {
    height: 1024px;
  }
}
@media (min-width: 992px) {
  .page-hero .hero-item {
    height: 768px;
  }
}
.page-hero .button-item--cta {
  width: 275px;
}
.page-hero .button-item--cta.pos-a {
  bottom: 55px;
}
@media (min-width: 767px) {
  .page-hero .button-item--cta.pos-a {
    bottom: 65px;
  }
}
@media (min-width: 992px) {
  .page-hero .button-item--cta {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.hero-item {
  box-sizing: border-box;
  background-size: cover;
  background-position: 50% 50%;
}
.hero-item__title {
  font-size: 19px;
  font-family: "HelveticaNowBold";
  letter-spacing: 0.72px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  width: 220px;
  text-align: center;
}
.hero-item__title.pos-a {
  bottom: 123px;
}
@media (min-width: 992px) {
  .hero-item__title {
    font-size: 29px;
    width: 340px;
    line-height: initial;
    letter-spacing: 1.12px;
  }
  .hero-item__title.pos-a {
    bottom: 139px;
  }
}
.hero-item__img {
  display: none;
}

.button-item, .tag-items__link {
  text-transform: uppercase;
  font-size: 11px;
  font-family: "HelveticaNowMed";
  display: inline-block;
  text-decoration: none;
  line-height: 16px;
  text-align: center;
  padding: 8px 12px;
  border: 1px solid #232222;
  color: #232222;
}
.button-item--cta {
  color: #fff;
  border-color: #fff;
  font-size: 13px;
  padding-top: 12px;
  padding-bottom: 12px;
  letter-spacing: 0.5px;
}

.tag-items__li {
  list-style: none;
  float: left;
  margin: 0 5px 8px 0;
}
@media (min-width: 767px) {
  .tag-items__li {
    margin: 0 7px 10px 0;
  }
}
.tag-items__link {
  font-family: "HelveticaNowBold";
  font-size: 11px;
  letter-spacing: 0.45px;
  padding: 7px 12px 8px;
}
@media (min-width: 992px) {
  .tag-items__link {
    padding-top: 8px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .perfect-px .page-header-navigation__ul {
    position: relative;
    top: -5px;
  }
}
.perfect-px .page-header.pos-a {
  left: 0;
  right: 0;
}
.perfect-px .page-logo {
  position: relative;
  top: 3px;
  left: -5px;
}
.perfect-px .page-utility__link img[alt*=search] {
  height: 19px;
  position: relative;
  top: 6px;
}
.perfect-px .page-utility__link img[alt*=cart] {
  position: relative;
  top: 5px;
  left: 1px;
}
.perfect-px .page-utility__link img[src*=mobile-menu] {
  position: relative;
  height: 14px;
  left: 3px;
  top: 2px;
}
@media (min-width: 992px) {
  .perfect-px .page-utility__link img.page-utility__image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 5px;
  }
  .perfect-px .page-utility__link img[alt*=search] {
    position: relative;
    left: 1px;
    /* display: none; */
  }
  .perfect-px .page-utility__link img[alt*=favourite] {
    position: relative;
    left: 5px;
  }
  .perfect-px .page-utility__link img[alt*=cart] {
    position: relative;
    left: 5px;
  }
  .perfect-px .page-utility__link img[alt*=profile] {
    position: relative;
    left: 10px;
  }
}

.footer-links__ul {
  text-align: center;
  margin-bottom: 0;
}
@media (min-width: 767px) {
  .footer-links__ul {
    margin-bottom: 0;
  }
}
.footer-links__li {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.footer-links__li:last-child {
  margin-bottom: 0;
}
@media (min-width: 767px) {
  .footer-links__li {
    display: inline-block;
    padding: 0 12px;
    margin-bottom: 0;
  }
}
.footer-links__link {
  text-decoration: none;
  color: #232222;
  font-family: "HelveticaNowMed", sans-serif;
  font-size: 11px;
  letter-spacing: 0.5px;
}
@media (min-width: 992px) {
  .footer-links__link {
    font-size: 12px;
  }
}

.card__hero {
  padding-top: 100%;
  background-size: cover;
  background-position: 50% 50%;
}
.card__image {
  display: none;
  /*     width: 100%;
  object-fit: cover;
  object-position: center center; */
}
.card__heading {
  text-transform: uppercase;
  font-family: "HelveticaNowBold";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #232222;
  display: inline-block;
  border-bottom: 1px solid #232222;
  margin-top: 20px;
}
@media (min-width: 767px) {
  .card__heading {
    margin-top: 30px;
    letter-spacing: 0.5px;
  }
}
@media (min-width: 992px) {
  .card__heading {
    margin-top: 22px;
    font-size: 14px;
  }
}

.footer-copyright {
  text-align: center;
  padding: 25px 0;
  padding-bottom: 27px;
}

.footer-logo {
  width: 124px;
}

.row {
  width: auto;
  margin: 0;
}
@media (min-width: 767px) {
  .row {
    margin: 0 -10px;
  }
}
@media (min-width: 992px) {
  .row {
    margin: 0 -4px;
  }
}
@media (min-width: 767px) {
  .row .col {
    width: 50%;
    float: left;
    padding: 0 10px;
  }
}
@media (min-width: 992px) {
  .row .col {
    width: 33.3333333333%;
    padding: 0 4px;
  }
}

@media (max-width: 1144px) {
  .perfect-px a.page-utility__link.hidden-mobile.hidden-tabl {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1140px) {
  .page-header {
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-utility__li {
    margin-left: 0;
  }

  .page-header-navigation__link {
    margin-right: 13px;
  }
}

/*# sourceMappingURL=main.css.map */
